<ion-view view-title="Remote" class="pane">
  <div class="rand">
<div class="mediaplayer">
<button ng-click="prev()" class="button button-icon icon ion-ios-skipbackward"></button>
<button ng-click="play()" class="button button-icon icon ion-ios-play"></button>
<button ng-click="next()" class="button button-icon icon ion-ios-skipforward"></button>
</div>


  <label class="item item-input item-floating-label">
    <span class="input-label">Musictitel</span>
    <input type="text" ng-model="musicValueSpotify" placeholder="Search..." ng-keyup="querySpotify()">
  </label>
  	 
           <p class="result lead">Für die Suche ergaben sich folgende Ergebnise: </p>
           <ul>
            <li ng-repeat="item in SpotifyEntries" class="item item-icon-right" ng-click="addSongSpotify(item)">
    <i class="icon ion-ios-plus-outline"></i>

                {{item.title}}
            </li>
        </ul>

<div class="item range">
  <i class="icon ion-volume-low" ng-click="volumeDown()"></i>
  <input type="range" id="myRange" ng-model="volumeLevel">
  <i class="icon ion-volume-high" ng-click="volumeUp()"></i>
</div>

       

                <div ><h3 class="song_library lead">Tracks:</h3></div>
      <ul id="playlist-list" class="tracklist"  ng-model="playlistSongs">
    <li class="item" ng-repeat="item in playlistSongs">
        <div class="song">{{ item.song }}</div>
    </li>
</ul>
</test>
</ion-view>