<div class="container">

	<div class="row">

        <div class="col-sm-4">
<button ng-click="prev()">Prev</button>
</div>

        <div class="col-sm-4">
<button ng-click="play()">Play</button>
</div>

        <div class="col-sm-4">
<button ng-click="next()">Next</button>
</div>

</div>
	<div class="row">
  <div class="col-sm-12">
  	 <input type="text" ng-model="musicValueSpotify" name="musicValueSpotify" placeholder="Musiktitel" ng-keyup="querySpotify()">
           <p class="result">Für die Suche ergaben sich folgende Ergebnise: </p>
           <ul>
            <li ng-repeat="item in SpotifyEntries">
                <a class="media-left">
                    <img ng-src="{{item.artwork_url}}" height="100" width="100">
                </a>
                {{item.title}}
                <button ng-click="addSongSpotify(item)">+</button>
            </li>
        </ul>
</div>
</div>
<hr>
<div class="row">
	        <div class="col-sm-4">
<button ng-click="volumeUp()">Volume-Up</button>
</div>
        <div class="col-sm-4">
<button ng-click="volumeDown()">Volume-Down</button>
</div>
        <div class="col-sm-4">
<input type="range" id="myRange" ng-model="volumeLevel">
</div>
</div>



    <div class="row">
        <ul style="margin-top:20px" class="col-sm-6 list-inline text-right">
<li class="playback-info__time-current">{{ playbackTimeCurrent }}</li>
<li ng-click="changePlaybackProgressFromRemote($event)" class="playback-progress text-left" style="max-width: 100%;width: 1000px; background-color: red;">
    <span style="width: {{ playbackProgress }}%;"></span>
</li>
<li class="playback-info__time-total">{{ playbackTimeTotal }}</li>
</ul>
       

</div>
<hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="song_library"><h3>Tracks:</h3></div>
            </div>
        </div>
<div class="row">

<ul id="playlist-list" class="tracklist"  ng-model="playlistSongs">
    <li ng-repeat="item in playlistSongs">
        <div class="song col-sm-12">{{ item.song }}</div>
    </li>
</ul>
</div>

</div>