

<div class="mediaplayer">
<button class="button button-icon icon ion-ios-skipbackward"></button>
<button class="button button-icon icon ion-ios-play"></button>
<button class="button button-icon icon ion-ios-skipforward"></button>
</div>


  <label class="item item-input item-floating-label">
    <span class="input-label">Musictitel</span>
    <input type="text" ng-model="musicValueSpotify" name="musicValueSpotify" placeholder="Search..." ng-keyup="querySpotify()">
  </label>
  	 
           <p class="result lead">Für die Suche ergaben sich folgende Ergebnise: </p>
           <ul>
            <li ng-repeat="item in SpotifyEntries">
                <a class="media-left">
                    <img ng-src="{{item.artwork_url}}" height="100" width="100">
                </a>
                {{item.title}}
                <button ng-click="addSongSpotify(item)">+</button>
            </li>
        </ul>

<div class="item range">
  <i class="icon ion-volume-low" ng-click="volumeDown()"></i>
  <input type="range" id="myRange" ng-model="volumeLevel">
  <i class="icon ion-volume-high" ng-click="volumeUp()"></i>
</div>

       

                <div ><h3 class="song_library lead">Tracks:</h3></div>
      <ul id="playlist-list" class="tracklist"  ng-model="playlistSongs">
    <li class="item" ng-repeat="item in playlistSongs">
        <div class="song">{{ item.song }}</div>
    </li>
</ul>
