<ion-view view-title="Join Group">
<div class="rand">

<form ng-submit="submit(data)">
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Group Name</span>
    <input type="text" ng-model="data.name" placeholder="Group Name" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Group Password</span>
    <input type="password" ng-model="data.pw" placeholder="Group Password" required>
  </label>
</div>
<button type="submit" class="button button-block button-light">
  Join Group
</button>
</form>
</div>
    </ion-view>